body {
    font: normal 14px Consolas, Arial, sans-serif;
    background-color: rgb(35,36,37);
    color: rgb(48,114,223);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
