name: TEST
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Test code
      run: |   
        sudo apt-get update -y
        sudo apt-get install -y file pdfgrep dos2unix    
