name: TEST
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Test code
      run: |   
        sudo apt install -y file pdfgrep dos2unix    
